*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #111;

}



#img, img{
    height: 300px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#img1, img{
    height: 300px;
    width: 200px;
    position: absolute;
    top: 60%;
    left: 30.12%;
    
}

#img2, img{
    height: 300px;
    width: 200px;
    position: absolute;
    top: 60%;
    left: 56.6%;
    
}

#img3, img{
    height: 300px;
    width: 200px;
    position: absolute;
    top: 12%;
    left: 30.1%;
    
}

#img4, img{
    height: 300px;
    width: 200px;
    position: absolute;
    top: 12%;
    left: 56.6%;
    
}