/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

* {
  box-sizing: border-box;
}

.media {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  grid-template-areas: "img content";
  gap: 1rem;
  align-items: center;
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #242321;
  margin-bottom: 1rem;
}

.media .image {
  grid-area: img;
}

.media .text {
  grid-area: content;
  padding: 10px;
} */


* {
  box-sizing: border-box;
}
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  font:
    1.2em "Helvetica",
    "Arial",
    sans-serif;
}

.wrapper > * {
  border: 2px solid #f08c00;
  background-color: #ffec99;
  border-radius: 5px;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
}
.main-footer {
  grid-area: footer;
}
.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "ad"
    "footer";
}
@media (width >= 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "sidebar content"
      "ad      footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}
@media (width >= 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav    content sidebar"
      "nav    content ad"
      "footer footer  footer";
  }
  nav ul {
    flex-direction: column;
  }
}
