*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

.box{
    height: 200px;
    width: 200px;
    background-color: crimson;
}

@media (min-width: 600px) and (max-width: 1250px) {
    .box{
        height: 500px;
        width: 400px;
        background-color: rgb(65, 91, 83);
    }
}