body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

/* .box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  box-sizing: content-box;
  font-weight: bold;
  color: #333;
} */

/* Margin Layer */
/* .margin {
  background-color: #100c09;
  border: 1px dashed #9b0d0d;
  margin: 8px;
  padding: 17px;
  height: 440px;
  width: 500px;
  box-sizing: border-box;
}

h3{
    color: white;
    text-align: center;
} */

/* Border Layer */
/* .border {
  background-color: #d8b14d;
  border: 1px solid #333;
  padding: 1px;
  width: 450px;
  height: 300px;
} */

/* Padding Layer */
/* .padding {
  background-color: #abd695;
  border: 1px dashed #333;
  margin: 23px;
  padding: 4px;
  width: 390px;
  height: 200px;
} */

/* Content Layer */
/* .content {
  background-color: #bcc9cf;
  width: 350px;
  height: 100px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
} */

/* .box{
  
  box-sizing: border-box;
  margin: 10px;
  border: 10px solid #f0f0f0;
  padding: 10px;
} */

.outside{
  /* border: 5px solid black; */
  font-size: 25px;
}