* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0b0b0b;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}



.video-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
}

video {
    width: 300px;
    max-width: 100%;
    height: auto;
    border: 2px solid #333;
    border-radius: 8px;
}


/* .carousel {
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.carousel-inner {
    width: 100%;
}

.carousel-item {
    transition: transform 0.6s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
    height: auto;
    max-height: 800px;
    object-fit: cover;
    border-radius: 8px;
} */
