*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
background: #000;
}

h1{
    font-size: 2rem;
    text-align: center;
}

.slideshow {
    position: relative;
    width: 400px;
    height: 500px;
    margin: auto;
}

.slideshow img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    animation: fade 12s infinite;
    margin-top: 3rem;
}

.slideshow img:nth-child(1) { animation-delay: 0s; }
.slideshow img:nth-child(2) { animation-delay: 2s; }
.slideshow img:nth-child(3) { animation-delay: 4s; }
.slideshow img:nth-child(4) { animation-delay: 6s; }
.slideshow img:nth-child(5) { animation-delay: 8s; }
.slideshow img:nth-child(6) { animation-delay: 10s; }

@keyframes fade {
    0% { opacity: 0; }
    8% { opacity: 1; }
    25% { opacity: 1; }
    33% { opacity: 0; }
    100% { opacity: 0; }
}


/* .wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img1{
    position: relative;
    height: 300px;
    width: 400px;
    margin: 10% auto 0;
}

.img1 img{
    position: absolute;
    left: 0;
    height: 300px;
    width: 400px;
    transition: opacity 1s ease-in-out;
}

.img1 img.img-front:hover{
    opacity: 0;
    cursor: pointer;
} */